test/workflows/04-erc721-operations.json
{
  "name": "04 - ERC721 NFT Operations",
  "nodes": [
    {
      "parameters": {},
      "name": "Workflow Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 400],
      "id": "trigger"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst deployed = JSON.parse(fs.readFileSync('/app/deployed-contracts.json', 'utf8'));\nreturn { nftAddress: deployed.contracts.TestERC721 };"
      },
      "name": "Get NFT Address",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 400],
      "id": "getAddress"
    },
    {
      "parameters": {
        "resource": "erc721",
        "operation": "getBalance",
        "contractAddress": "={{ $json.nftAddress }}",
        "owner": "0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266"
      },
      "name": "Get NFT Balance",
      "type": "n8n-nodes-ethereum.ethereum",
      "typeVersion": 1,
      "position": [660, 300],
      "id": "getBalance",
      "credentials": {
        "ethereumRpc": {
          "id": "1",
          "name": "Local Hardhat"
        }
      }
    },
    {
      "parameters": {
        "resource": "erc721",
        "operation": "ownerOf",
        "contractAddress": "={{ $('Get NFT Address').item.json.nftAddress }}",
        "tokenId": "0"
      },
      "name": "Get Owner Of Token 0",
      "type": "n8n-nodes-ethereum.ethereum",
      "typeVersion": 1,
      "position": [880, 300],
      "id": "ownerOf",
      "credentials": {
        "ethereumRpc": {
          "id": "1",
          "name": "Local Hardhat"
        }
      }
    },
    {
      "parameters": {
        "resource": "erc721",
        "operation": "tokenURI",
        "contractAddress": "={{ $('Get NFT Address').item.json.nftAddress }}",
        "tokenId": "0"
      },
      "name": "Get Token URI",
      "type": "n8n-nodes-ethereum.ethereum",
      "typeVersion": 1,
      "position": [1100, 300],
      "id": "tokenURI",
      "credentials": {
        "ethereumRpc": {
          "id": "1",
          "name": "Local Hardhat"
        }
      }
    },
    {
      "parameters": {
        "resource": "erc721",
        "operation": "approve",
        "contractAddress": "={{ $('Get NFT Address').item.json.nftAddress }}",
        "to": "0x70997970C51812dc3A010C7d01b50e0d17dc79C8",
        "tokenId": "0"
      },
      "name": "Approve NFT",
      "type": "n8n-nodes-ethereum.ethereum",
      "typeVersion": 1,
      "position": [660, 500],
      "id": "approve",
      "credentials": {
        "ethereumRpc": {
          "id": "1",
          "name": "Local Hardhat"
        },
        "ethereumAccount": {
          "id": "1",
          "name": "Test Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "erc721",
        "operation": "getApproved",
        "contractAddress": "={{ $('Get NFT Address').item.json.nftAddress }}",
        "tokenId": "0"
      },
      "name": "Get Approved",
      "type": "n8n-nodes-ethereum.ethereum",
      "typeVersion": 1,
      "position": [880, 500],
      "id": "getApproved",
      "credentials": {
        "ethereumRpc": {
          "id": "1",
          "name": "Local Hardhat"
        }
      }
    },
    {
      "parameters": {
        "resource": "erc721",
        "operation": "transferFrom",
        "contractAddress": "={{ $('Get NFT Address').item.json.nftAddress }}",
        "from": "0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266",
        "to": "0x70997970C51812dc3A010C7d01b50e0d17dc79C8",
        "tokenId": "1"
      },
      "name": "Transfer NFT",
      "type": "n8n-nodes-ethereum.ethereum",
      "typeVersion": 1,
      "position": [1100, 500],
      "id": "transfer",
      "credentials": {
        "ethereumRpc": {
          "id": "1",
          "name": "Local Hardhat"
        },
        "ethereumAccount": {
          "id": "1",
          "name": "Test Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "erc721",
        "operation": "ownerOf",
        "contractAddress": "={{ $('Get NFT Address').item.json.nftAddress }}",
        "tokenId": "1"
      },
      "name": "Verify New Owner",
      "type": "n8n-nodes-ethereum.ethereum",
      "typeVersion": 1,
      "position": [1320, 500],
      "id": "verifyOwner",
      "credentials": {
        "ethereumRpc": {
          "id": "1",
          "name": "Local Hardhat"
        }
      }
    },
    {
      "parameters": {
        "resource": "erc721",
        "operation": "setApprovalForAll",
        "contractAddress": "={{ $('Get NFT Address').item.json.nftAddress }}",
        "operator": "0x3C44CdDdB6a900fa2b585dd299e03d12FA4293BC",
        "approved": true
      },
      "name": "Set Approval For All",
      "type": "n8n-nodes-ethereum.ethereum",
      "typeVersion": 1,
      "position": [660, 700],
      "id": "setApprovalForAll",
      "credentials": {
        "ethereumRpc": {
          "id": "1",
          "name": "Local Hardhat"
        },
        "ethereumAccount": {
          "id": "1",
          "name": "Test Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "erc721",
        "operation": "isApprovedForAll",
        "contractAddress": "={{ $('Get NFT Address').item.json.nftAddress }}",
        "owner": "0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266",
        "operator": "0x3C44CdDdB6a900fa2b585dd299e03d12FA4293BC"
      },
      "name": "Check Approval For All",
      "type": "n8n-nodes-ethereum.ethereum",
      "typeVersion": 1,
      "position": [880, 700],
      "id": "isApprovedForAll",
      "credentials": {
        "ethereumRpc": {
          "id": "1",
          "name": "Local Hardhat"
        }
      }
    }
  ],
  "connections": {
    "Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get NFT Address",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get NFT Address": {
      "main": [
        [
          {
            "node": "Get NFT Balance",
            "type": "main",
            "index": 0
          },
          {
            "node": "Approve NFT",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Approval For All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get NFT Balance": {
      "main": [
        [
          {
            "node": "Get Owner Of Token 0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Owner Of Token 0": {
      "main": [
        [
          {
            "node": "Get Token URI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve NFT": {
      "main": [
        [
          {
            "node": "Get Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Approved": {
      "main": [
        [
          {
            "node": "Transfer NFT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transfer NFT": {
      "main": [
        [
          {
            "node": "Verify New Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Approval For All": {
      "main": [
        [
          {
            "node": "Check Approval For All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
